.main{
    width: 100%;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#uploaded-image{
    max-width:20 rem;
    
}
.dropzone-box {
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    max-width: 36 rem;
    align-items: center;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    color: white;
}
.light .dropzone-box{
    background-color: white;
    color: black;
    box-shadow: rgba(83, 83, 83, 0.2) 0px 8px 24px;
}
.dropzone-box h2 {
    font-size: 2rem;
    font-family: 'Orbitron','sans-serif';
    margin-bottom: 0.5rem;
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1rem;
    min-height: 16rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--primary);
    border-radius: 1rem;
    color: var(--primary);
    cursor: pointer;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.5rem;
    stroke: var(--primary);
}

.dropzone--over {
    border-style: solid;
    background-color: var(--background);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray);
    gap: 1rem;
    flex-wrap: wrap;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
}
div#imageContainer{
    width: 20vw;
}
#uploaded-image{
    max-width: 100%;
}
.dropzone-actions button:hover {
    text-decoration: underline;
}

.dropzone-actions button[type='reset'] {
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--primary);
    cursor: pointer;
}

.dropzone-actions button[type='submit'] {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--white);
    cursor: pointer;
}
.message{
    font-style: oblique;
    font-weight: bold;
}
#resetButton{
    background-color:  lightslategray;
}
.light #resetButton{
    background-color: lightgray;
}
#submit-button{
    background-color: rgb(12, 160, 209);
}
.light #submit-button{
    background-color: skyblue;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
@media (max-width: 700px) {
    .dropzone-box{
        max-width: 100vw;
    }
    div#imageContainer{
        width: 50vw;
    }
}