label{
    width: 80%;
    text-align: left;
    font-family: 'ubuntu';
}
.radd-cont{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    text-align: left;
}
.radd{
    display: none;

}
.radd-cont>label{
    padding: 2px;
    border: 1px solid;
    border-color: #FFF;
    transition: border-color 0.3s linear;  
    transition: color 0.3s linear;
    margin-bottom: 10px;

}
.radd-cont>label:hover{
    border-color: skyblue;
    color: skyblue ;
}
label.selected{
    border-color: skyblue;
    color: skyblue ;
    font-weight: 600;
}
.cert{
    padding-bottom: 20px;
}
.spacee{
    height: 700px;
}
.small{
    display: none;
}

@media  (max-width: 768px){
    .large{
        display: none;
    }
    .small{
        display: block;
    }
    .bn40 {
        font-weight: 600;
        font-size: large;
        padding: 4px 6px;
        color: #ffffff !important;
      }


      .bn40::after {

        height: 2px;
        display: block;
        content: "";
        background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
        opacity: 1;
        margin-bottom: -6px;
        margin-top: 1px;
      }
      
      .bn40div {
        display: flex;
      }
      
}
.container{
background-color: #ffffff;
border-radius: 50px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 1000px;
  max-width: 100%;
  min-height: 600px;
}
.SignUpContainer {
 position: absolute;
 top: 0;
 height: 100%;
 transition: all 0.6s ease-in-out;
 left: 0;
 width: 50%;

 z-index: 1;
}
.form{
background-color: #fefefe;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 50px;
height: 100%;
text-align: center;
}
.title{
    font-family: "ubuntu";
font-weight: bold;
margin: 0;
margin-bottom: 20px;
color: #ffffff;
}
.input{
    background-color: #181818;
font-size: 14px;
color: #ffffff;
border: none;
border-radius: 10px;
padding: 12px 15px;
margin: 8px 0;
width: 80%;
}
.light{
    background-color: white;
}
