.mainheader{
    display: flex;
    justify-content: center;
    font-family: 'Orbitron';
    font-size: 80px;
    color:  #00b2e3;
}

.subheader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'oswald', sans-serif;
    font-size: 30px;
    
}
.personimage{

    max-width: 100%;
}
.name{

    font-family: 'Barlow';
    font-size: 20px;
    font-weight: 800;
}
.type{
    text-align: center;
    font-family: 'Bebas Neue';
    color:  #adaeae;
    font-size: 70px;
}
.button{

    justify-content: center;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards div {
    text-align: center;
    margin: 10px;
  }

